.header-height{
	height:45px;
}

.border-bottom{
	border-bottom: 2px solid #efefef;
}

.flex{
	display:flex;
}

#header-logo{
	height:42px;
}

.centered{
	display: flex;
    justify-content: center;
    align-items: center;
}

#profile{
	height: 23px;
    /* float: right; */
    position: absolute;
    /* display: flex; */
    right: 0;
    margin-right: 20px;
    cursor:pointer;
}

#news{
	height: calc(100% - 45px);
    width: 25%;
    float: right;
}

.border-left{
	border-left: 2px solid #efefef;
}

.vertical{
	flex-direction: column;
}

.feed{
	    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.comment > .avatar > img{
	height: 35px !important;
    width: auto !important;
}

.ui.comments{
    overflow-y: scroll;
    margin: 0.25em 0 0 0 !important;
}

.comment{
	border-bottom: 1px solid #efefef !important;
    padding: 0.5em 0 0 0.5em !important;
}

.profileIcon{
    height:25px;
    margin-bottom:5px;
    margin-left:10px;
}

.ui.popup{
    min-width:400px !important;
}

.profilePic{
    padding:5px;
    width:100%;
}

.studentInfo{
    margin:0;
    color:grey;
    padding:5px;
    font-size: 15px;
}
