.header-height{
	height:45px;
}

.border-bottom{
	border-bottom: 2px solid #efefef;
}

.flex{
	display:flex;
}

#header-logo{
	height:42px;
}

.centered{
	display: flex;
    justify-content: center;
    align-items: center;
}

#profile{
	height: 23px;
    /* float: right; */
    position: absolute;
    /* display: flex; */
    right: 0;
    margin-right: 20px;
    cursor:pointer;
}

#news{
/*	height: calc(100% - 45px);
    width: 25%;
    float: right;*/
}

.border-left{
	border-left: 2px solid #efefef;
}

.vertical{
	flex-direction: column;
}

.feed{
	    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.comment > .avatar > img{
	height: 35px !important;
    width: auto !important;
}

.ui.comments{
    overflow-y: scroll;
    margin: 0.25em 0 0 0 !important;
}

.comment{
	border-bottom: 1px solid #efefef !important;
    padding: 0.5em 0 0 0.5em !important;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column{
	padding-left:0 !important;
	padding-right:0 !important;
}

.ui.grid > .column:not(.row) {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.ui.grid{
	padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#applications{
	overflow: scroll;
    height: calc(100% - 45px);
}

.content{
	width: inherit;
    height: inherit;
}

.item{
	    width: 200px;
    height: 65px;
    overflow-wrap: break-word;
}

a, a:hover, a:visited{
	color:#99162e !important;
}