#login-logo{
	height:70px;
}


.login-card-width{
	width:500px;
}

.login-card-height{
	height:265px;
}

.centered{
	display: flex;
    justify-content: center;
    align-items: center;
}

.maroon-text{
	color: #8f001a !important;
}

.maroon-bg{
	background-color: #8f001a !important;
}

.white-text{
	color:#fff !important;
}

.ui.card{
	width:500px !important;
}

.container{
	height:100%;
	background-image: url('../images/login-bg.jpg');
	background-size: contain;
}